body{
    font-family: "Dosis", sans-serif;
}

.centro{   
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info_local{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info_local p{
    width: 75%;
    font-weight: 800;
    font-size: 2rem;
}

.centro img{
    width: 80%;
    height: auto;
}

.integrantes{
    background-color: black;
    color: white;

}

.jefe , .peluquera1 , .peluquera2 {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding:25px;
}

.peluquera1 {
    flex-direction: row-reverse;
}


.jefe img , .peluquera1 img , .peluquera2 img {
    border-radius: 60%;
}

.Descripcion{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.texto-Descripcion{
    font-size: 20px;
    text-align: center;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .centro img{
        width: 100%;
    }
}
