body{
    font-family: "Dosis", sans-serif;
}

.contenedorFormlario{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

input[type=Nombre] , input[type=Apellido] , input[type=email] , input[type=telefono] {
    background: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d1d1;
    font-family: 'Roboto Condensed',sans-serif,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    height: 40px;
    line-height: 1.42857143;
    padding: 0 9px;
    vertical-align: baseline;
    width: 100%;
}

.col-md-4{
    padding: 10px;
}

.col-12-pago{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-evenly;
padding: 10px;
}
textarea{
    width: 100%;
}

.botones{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.botones input{
    margin: 2rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px){
    .col-12-pago{
        flex-direction: column;
    }
}

