body{
    font-family: "Dosis", sans-serif;
}

.contenedorFormlario{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

textarea{
    width: 100%;
}

.botones{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.botones input{
    margin: 2rem;
}